<template>
  <div class="header">
    <strong>Extracting dependencies from draft JSON</strong>
    <span class="button" @click="onClear">clear</span>
  </div>

  <InputDraftContainer
    :draft-string="rawDraftData"
    @click-at-container="onClickAtContainer"
    @validate-input="onValidateInput"
  />

  <ExtractedVars
      :draft-vars="draftVars"
      :used-vars="usedVars"
      :not-imported-custom-vars="notImportedVars.customVars"
      :not-imported-system-vars="notImportedVars.systemVars"
  />
</template>

<script setup>

import { ref } from 'vue';
import InputDraftContainer from '../components/InputDraftContainer.vue';
import ExtractedVars from '../components/ExtractedVars.vue';
import { extractVars } from '../services/validateUsageVarsAtDraft';

const rawDraftData = ref('{}');
const draftVars = ref([]);
const usedVars = ref([]);
const notImportedVars = ref({});

const onClickAtContainer = async () => {
  rawDraftData.value = await navigator.clipboard.readText();
};

const onClear = () => {
  rawDraftData.value = '{}';
  draftVars.value = [];
  usedVars.value = [];
  notImportedVars.value = {};
};

const onValidateInput = () => {
  const extractedVars = extractVars(JSON.parse(rawDraftData.value));

  draftVars.value = extractedVars.draftVars;
  usedVars.value = extractedVars.usageVars;
  notImportedVars.value = extractedVars.notImportedVars;
};

</script>

<style scoped>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > strong {
  font-size: 2em;
}

.button {
  color: #5f53f2;
  cursor: pointer;
  padding: 2px 10px;
  transition: all .3s ease-in-out;
  border-radius: 4px;
  border: 1px solid #5f53f2;

}
.button:hover {
  opacity: .7;
}
</style>
