<template>
  <div class="extracted-vars">
    <VarsContainer
        :vars="usedVars"
        title="Vars used in draft"
    />

    <VarsContainer
        :vars="draftVars"
        title="Vars imported as dependencies"
    />

    <VarsContainer
        :vars="notImportedSystemVars"
        title="System vars"
        var-type="system"
    />

    <VarsContainer
        :vars="notImportedCustomVars"
        title="Non-imported custom vars"
        var-type="custom"
    />
  </div>

</template>

<script setup>
import VarsContainer from './VarsContainer.vue';

defineProps({
  usedVars: {
    type: Array,
    default: () => [],
  },
  draftVars: {
    type: Array,
    default: () => [],
  },
  notImportedSystemVars: {
    type: Array,
    default: () => [],
  },
  notImportedCustomVars: {
    type: Array,
    default: () => [],
  },
});
</script>

<style scoped>
.extracted-vars {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
