<template>
  <pre
      v-html="containerHTML"
      class="pretty-json-container"
      :class="{'pretty-json-container--empty': isContainerEmpty}"
      @click="onClick"
  />
  <TextBlock v-if="showError" state="error">invalid data</TextBlock>
</template>

<script setup>

import { computed, ref, watch } from 'vue';
import TextBlock from './TextBlock.vue';

const props = defineProps({
  draftString: String,
});

const emits = defineEmits({
  clickAtContainer: null,
  validateInput: null,
});

const showError = ref(false);

const prettyDraftString = ref('{}');

watch(() => props.draftString, (value) => {
  try {
    const json = JSON.parse(value);
    prettyDraftString.value = JSON.stringify(json, undefined, 1);
    showError.value = false;
    if (value !== '{}') emits('validateInput');
  } catch {
    showError.value = true;
  }
});

const isContainerEmpty = computed(() => prettyDraftString.value === '{}');
const containerHTML = computed(() => (isContainerEmpty.value ? '' : prettyDraftString.value));

const onClick = () => {
  if (!isContainerEmpty.value) return;
  emits('clickAtContainer');
};

</script>

<style scoped>
.pretty-json-container {
  text-align: left;
  max-height: 40vh;
  min-height: 40vh;
  max-width: 70vw;
  overflow: auto;
  padding: 10px 20px;
  background-color: #efefef;
  color: #333;
  border-radius: 10px;
}
.pretty-json-container--empty {
  padding: 0;
  cursor: pointer;
  position: relative;
}
.pretty-json-container--empty::before {
  content: 'click for paste from clipboard \1F446';
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  color: #eee
}
</style>
