<template>
  <div class="error-block" :class="[boxClass]">
    <strong class="error-block__text" :class="[textClass]">
      <slot/>
    </strong>
  </div>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
  state: {
    type: String,
    default: 'message',
    required: false,
    validator(value) {
      return ['error', 'message'].includes(value);
    },
  },
});

const textClass = computed(() => {
  switch (props.state) {
    case 'error':
      return 'error-block__text--error';
    case 'message':
    default:
      return '';
  }
});

const boxClass = computed(() => {
  switch (props.state) {
    case 'error':
      return 'error-block--error';
    case 'message':
    default:
      return '';
  }
});

</script>

<style scoped>
.error-block {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background-color: rgba(100, 100, 100, .1);*/
  /*border-radius: 10px;*/
}

.error-block--error {
  background-color: rgba(255, 0, 0, .6);
}

.error-block__text {
  color: #999;
}
.error-block__text--error {
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
}

</style>
