<template>
  <div>
    <h3>{{title}}</h3>

    <template v-if="isEmptyVars">
      <TextBlock>{{placeholder}}</TextBlock>
    </template>

    <template v-else>
    <span
        v-for="$var in vars"
        :key="$var"
        class="extracted-var__item"
        :class="[varBlockSubclass]"
    >
      {{$var}}
    </span>
    </template>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import TextBlock from './TextBlock.vue';

const props = defineProps({
  vars: {
    type: Array,
    default: () => [],
  },
  title: {
    type: String,
    default: 'Vars',
  },
  placeholder: {
    type: String,
    default: 'No data',
  },
  varType: {
    type: String,
    default: '',
    validator(value) {
      return ['', 'system', 'custom'].includes(value);
    },
  },
});

const isEmptyVars = computed(() => props.vars.length === 0);

const varBlockSubclass = computed(() => {
  switch (props.varType) {
    case 'system':
      return 'extracted-var__item--system';
    case 'custom':
      return 'extracted-var__item--custom';
    default:
      return '';
  }
});
</script>

<style scoped>
.extracted-var__item {
  padding: 4px 8px;
  background-color: #EEE;
  margin-right: 6px;
  color: #333;
  border-radius: 6px;
}
.extracted-var__item--system {
  background-color: darkgray;
  color: #eee;
}
.extracted-var__item--custom {
  background-color: rebeccapurple;
  color: #eee;
}
</style>
