<script setup>
import UsageVarsAtDraft from './pages/UsageVarsAtDraft.vue';
</script>

<template>
  <div class="page">
    <UsageVarsAtDraft />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  min-width: 70vw;
}
</style>
